.search-bar {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    width: 20vw;
    justify-self: end;
  }
  
  .search-bar input {
    flex: 1;
    background: var(--card-bg);
    color: var(--text-light);
  }
  
  .search-bar button {
    background: var(--accent);
  }
  