.current-weather {
  background: var(--card-bg);
  border-radius: 1vw;
  padding: 1.5vw;
  text-align: center;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
  width: 15vw;
}

.card {
  height: 9vw;
}

.current-weather h2 {
  font-size: 22px;
  margin-bottom: 6px;
}

.current-weather p {
  color: var(--text-muted);
  margin: 4px 0;
}

.current-weather .temp {
  font-size: 48px;
  font-weight: bold;
  margin: 12px 0;
}

.current-weather .weather-icon {
  width: 3vw;
  height: 3vw;
  margin: 0.5vw auto;
  display: block;
}
