.info-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.main-card {
  background: var(--card-bg, #2c2c54);
  color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 70vw;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.7vw;
}

.city {
  margin-left: 2vw;
}

.top-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.7vw;
  margin-bottom: 1vw;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vw;
}

.weather-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7vw;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1vw 0;
}

.weather-type img {
  width: 7vw;
}

.feel-like {
  font-size: 0.8vw;
  opacity: 0.7;
  margin-top: 0.3vw;
}

.temp {
  font-size: 2vw;
}

.wind-info {
  display: flex;
  align-items: center;
  font-size: 0.7vw;
  margin-top: 1vw;
}

.wind-icon {
  width: 1.5vw;
  margin-right: 0.5vw;
}

.temp-range {
  text-align: right;
  font-size: 0.7vw;
  opacity: 0.7;
  margin-top: 1vw;
}

.hours-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.hour-card {
  background: var(--card-bg, #40407a);
  color: white;
  padding: 0.5vw;
  border-radius: 0.5vw;
  width: 10vw;
  height: 15vw;
  text-align: center;
  font-size: 0.7vw;
}

.hour-card img {
  width: 5vw;
}
